Entry {display:block;}/*This is Comment in css */
Stichwort {display:inline;color:blue;}
Chinesisch {display:block;font-size:16pt;font-family:仿宋;background-color:#D07427;font-weight:700;color:#FFFFFF}
Translation {display:block; font-size:12pt; font-family:仿宋; color:#59C945}
